<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="author" content="CSS Design Awards" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <title>CSS Design Awards - Website Awards - Best Web Design Inspiration - CSS Awards</title>
    <meta name="description" content="CSS Design Awards. Be inspired, Be inspiring. Submit your website to the world's best CSS awards for a chance to win Site of the Day, UI awards UX awards and more from a panel of 200+ international web designers and developers." />
    <meta name="keywords" content="best website awards, web design awards, web design inspiration, css awards, css winner, UI design, UX design" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">

    <link rel="stylesheet" href="/css/style-main.min.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/jcf.css" type="text/css" media="all">

    <style>
        /* 검색 조건을 가운데 정렬 */
        #searchContainer {
            text-align: center;
            margin-top: 20px;
        }

        #searchType {
            width: 100px;
        }

        #searchContainer label,
        #searchContainer select,
        #searchContainer input[type="text"],
        #searchContainer button {
            margin-right: 10px;
        }
    </style>

</head>

<body>
<div id="page">
    <header class="main">

        <nav class="header__main-wrapper">
            <div class="flex-grid">
                <a href="/mainPage" class="header__site-logo">
                    <img  src="/imgs/logo.svg" alt="CSS Design Awards">
                </a>
            </div>
            <div class="flex-grid text-center mobile-hidden">
                <div class="header__fade-slider">
                    <div class="header__fade-slider__slide active">
                        <a href="/mainPage">
                            <img src="/imgs/content/2024/readymag.svg" width="500" height="150" alt="Readymag">

                        </a>
                    </div>

                </div>
            </div>
            <div class="flex-grid text-right">
                <div class="header__side-elements">
                    <a href="#" class="menu-hamburger" data-modal-open="header-main-menu"></a>
                    <% if (userRealName) { %>
                        <a href="#" class="cust-btn mobile-hidden"><%= userRealName %> member</a>
                        <a href="/logout" class="cust-btn mobile-hidden">LOGOUT</a>
                    <% } else { %>
                        <a href="/login" class="cust-btn mobile-hidden">LOGIN</a>
                    <% } %>
                </div>
            </div>
        </nav>
        <div data-modal="header-main-menu" class="modal header-modal-menu">
            <div class="modal__hide-scroll">
                <div class="container">
                    <div class="modal__content">

                        <nav class="header__main-menu">
                            <div class="header__main-menu__wrapper">
                                <button class="modal__close">X</button>
                                <!--                                *** link -->
                                <ul class="header__main-menu__list">
                                    <li><a href="/mainPage" class="cust-btn">Home</a></li>
                                    <li><a href="/mapPage" class="cust-btn">Top 100 mountain</a></li>
                                    <li><a href="/boarder_boardMain" class="cust-btn">Alloola Board</a></li>
                                    <li><a href="/ej_boardMain" class="cust-btn">Community Board</a></li>
                                    <li><a href="/customshop_boardMain" class="cust-btn">Shop</a></li>
                                    <!--                                    <li><a href="/judges" class="cust-btn">Judges</a></li>-->
                                    <!--                                    <li><a href="/blog" class="cust-btn">Blog</a></li>-->
                                    <!--                                    <li><a href="/contact" class="cust-btn">Contact</a></li>-->
                                    <!--                                    <li><a href="/terms" class="cust-btn">Terms / Privacy</a></li>-->
                                </ul>
                                <ul class="header__main-menu__add-on">
                                    <!--                                    <li><a href="/submit" class="cust-btn special-button">SUBMIT</a></li>-->
                                    <li><a href="/login" target="_blank">Login</a></li>
                                    <li><a href="/signUp" target="_blank">SignUp</a></li>



                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
        </div>

    </header>
    <div style="height: 100px"></div>




    <section class="home-projects">
        <div class="container">
            <h2><a href="/wotd-award-winners" class="cust-btn arrow-icon">ALLOOLA BOARD</a></h2>
            <div class="home-projects__list projects__list">
                <% for (let i = 0; i < posts.length; i++) { %>
                <article class="single-project">
                    <div>
                        <div class="single-project__thumbnail">
                            <% if (posts[i][6] && posts[i][5] !== '') { %>
                                <% const imageNames = posts[i][5].split(';'); %>
                                <% const imagePaths = posts[i][6].split(';'); %>


                                <img style="width: 348px; height: 367px" src="/uploads/<%= imagePaths[0] %>" alt="<%= imageNames[0] %>" />


                                <% } else { %>
                                    <!-- 첨부 이미지가 없을 경우 -->
                                    <img style="width: 348px; height: 367px" src="/images/noImage.jpg" alt="Default Image">

                                <% } %>

                                <div class="single-project__thumbnail__overlay">
                                    <div class="single-project__meta">
                                        <span class="sp__meta__category">WOTD</span>
                                        <span class="sp__meta__date"><%= posts[i][3] %></span>
                                    </div>
                                    <a href="/boarder_detailPost/<%= posts[i][0] %>" class="sp__full-size-link"></a>
<!--                                    <a href="https://saporienatura.it/" target="_blank" class="sp__project-link">-->
                                <!--   <img src="imgs/link.svg" alt=" website"> -->
                                    </a>
                                    <span class="sp__view-info">View</span>
                                </div>
                        </div>

                        <h3 class="single-project__title"><a href="/boarder_detailPost/<%= posts[i][0] %>"><%= posts[i][1] %> [<%= posts[i][8] %>]</a></h3>
                        <div class="single-project__scores">
                            <span class="sp__single-score active">조회수: <%= posts[i][4] %></span>
                            <span class="sp__single-score active">좋아요: <%= posts[i][7] %></span>
                            <span class="sp__single-score active"><%= posts[i][2] %></span>
                            <span class="sp__single-score jpanel"><%= posts[i][3] %></span>
                        </div>
                    </div>
                </article>
                                <% } %>



            </div>

            <!-- 글쓰기 버튼 -->
            <div class="button-container">
                <% if (userRealName) { %>
                    <a href="/boarder_create" class="cust-btn ">NewPost</a>
                <% } %>
            </div>

            <!-- 페이징 -->
            <div class="home-projects__more-button text-center">
                <div class="cust-btn arrow-icon">
                    <% if (currentPage > 1) { %>
                         <a href="/boarder_boardMain/?page=<%= currentPage - 1 %>" class="cust-btn arrow-icon">Previous</a>
                    <% } %>

                    <% for (let i = startPage; i <= endPage; i++) { %>
                        <% if (i === currentPage) { %>
                            <span class="current-page"><%= i %></span>
                        <% } else { %>
                            <a href="/boarder_boardMain/?page=<%= i %>"><%= i %></a>
                        <% } %>
                    <% } %>

                    <% if ((totalPages - currentPage + 1) > maxPageNumber) { %>
                        <a href="/boarder_boardMain/?page=<%= currentPage + 1 %>">Next</a>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- 검색 조건 -->
        <!-- 검색 조건 및 입력 창 -->
        <div id="searchContainer">
            <form action="/boarder_boardMain" method="GET">
                <label for="searchType">검색 조건:</label>
                <select id="searchType" name="searchType" >
                    <option value="title" selected>제목</option>
                    <option value="content">게시글 내용</option>
                    <option value="author">글 작성자</option>
                </select>
                <input type="text" id="searchInput" name="searchInput" style="background-color: rgba(210,196,228,0.38);">
                <button type="submit">검색</button>
            </form>
        </div>
    </section>
    <div class="promo-sect">
        <div class="promo-sect__box">
            <a href="https://www.cssdesignawards.com/blog/2023-website-of-the-year-winners/394/">
                <img src="/imgs/content/2024/cssda-woty-2023-winners-h.jpg" width="716" height="150" alt="CSSDA WOTY 2023 Winners" /></a>
        </div>
    </div>
    <div class="page-modals">
    </div>
    <div class="container smsc-button-wrapper">
        <a class="smsc-button light" href="#">Go to Top</a>
    </div>

    <footer class="main light">
        <div class="flex-grid">CSS DESIGN AWARDS &copy; 2009 - 2024</div>
        <div class="flex-grid text-center mobile-top">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/CSSDesignAwards/" target="_blank" style="background-image: url(/imgs/social-icons/facebook.svg);"><img src="/imgs/social-icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="https://twitter.com/cssdesignawards" target="_blank" style="background-image: url(/imgs/social-icons/twitter.svg);"><img src="/imgs/social-icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="https://www.instagram.com/cssdesignaward/" target="_blank" style="background-image: url(/imgs/social-icons/instagram.svg);"><img src="/imgs/social-icons/instagram.svg" alt="instagram"></a></li>
                <li><a href="https://www.linkedin.com/in/cssda/" target="_blank" style="background-image: url(/imgs/social-icons/linkedin.svg);"><img src="/imgs/social-icons/linkedin.svg" alt="linkedin"></a></li>
            </ul>
        </div>
        <div class="flex-grid text-right mobile-hidden">BE INSPIRED. BE INSPIRING.</div>
    </footer>
</div>

<div id="scripts">
    <script type="text/javascript" src="/js/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.select.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.checkbox.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.file.js"></script>
    <script type="text/javascript" src="/js/script.min.js"></script>
</div>

</body>

</html>

